body {
  word-wrap: break-word;
  background-image: url("image.jpg"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  background-position: center;
  background-size: 200px;
  color: #169b62;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #E5DAC7;
  text-align: center;
}

.paragraph-left {
  margin-left: 8px;
  margin-top: 16px;
  padding: 5px;
  float: left;
  width: 33.4%;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  text-align: center;
  background-color: #ffffff;

}

.poem-paragraph {
  margin-left: 8px;
  margin-top: 16px;
  padding: 5px;
  float: left;
  width: 640px;
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  text-align: center;
  background-color: #ffffff;

}

.paragraph-right {
  float: right;
  margin-right: 8px;
  margin-top: 16px;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  text-align: right;
  width: 47%;
  background-color: #ffffff;


}

.img-right {
  float: right;
  margin-right: 32px;
  margin-top: 16px;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  padding: 4px;
  margin-left: -128px;
  background-color: #ffffff;

}

/* unvisited link */
a:link {
    color: ffffff;
}

/* visited link */
a:visited {
    color: ffffff;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: aqua;
}

.title {
  margin: auto;
  padding: 4px;
}


td{
    width: 100px;
    height:100px;
    border: 2px solid maroon;

}

table{
    text-align: center;
    width:100px;
    height:100px;

}


h1 {
  font-size: 60px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: normal;
  margin-top: -15px;
  margin-bottom: -15px;
  background-color: AntiqueWhite;
}

h1 span {
  display: block;
  font-size: 50%;
}

p {
  text-align: inherit;
  color: #169b62;
  padding: 5px;
}

.topnav {
  overflow: hidden;
  background-color: #ff883e;
}

.topnav a {
  float: left;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 8px 4px;
  text-decoration: none;
  font-size: 17px;
  background-color: #ff883e;
}

.topnav a:hover {
  background-color: maroon;
  color: black;
}

.topnav a.active {
  background-color: maroon;
  color: white;
}



